log_facility=daemon
log_file=/usr/local/nagios/var/nrpe.log
debug=1
pid_file=/usr/local/nagios/var/nrpe.pid
server_port=5666
server_address=0.0.0.0
nrpe_user=nagios
nrpe_group=nagios
allowed_hosts=127.0.0.1,::1,{{ nagiosmaster }} 
dont_blame_nrpe=1
allow_bash_command_substitution=1
command_timeout=60
connection_timeout=300
command[check_users]=/usr/local/nagios/libexec/check_users -w 5 -c 10
command[check_load]=/usr/local/nagios/libexec/check_load -r -w .15,.10,.05 -c .30,.25,.20
command[check_hda1]=/usr/local/nagios/libexec/check_disk -w 20% -c 10% -p /dev/hda1
command[check_zombie_procs]=/usr/local/nagios/libexec/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/local/nagios/libexec/check_procs -w 150 -c 200
command[check_memory]=/usr/local/nagios/libexec/check_memory 20 30
